NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/etroy_oidc
REDIS_URL=redis://localhost:6379
APP_BASE_URL=http://localhost:3000
OIDC_CLIENTS_JSON=[{"clientId":"etroy-web","redirectUris":["http://localhost:5173/callback"]}]
